<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<form action="#" method="POST" enctype="multipart/form-data" th:action="@{/}" th:object="${person}">
			<table border="0">
				<tbody>
					<tr>
						<td>Name:</td>
						<td><input type="text" th:field="*{name}" /></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
					</tr>
					<tr>
						<td>Age</td>
						<td><input type="text" th:field="*{age}" /></td>
						<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
					</tr>
					<tr>
						<td><button type="submit">Submit</button></td>
					</tr>
				</tbody>
			</table>
		</form>


	</body>
</html>
